.box {
  width: 80%;
  margin: 20px auto; 
  padding: 0;
  height: fit-content !important;
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  background-color: #ffffff;  
  transition:  0.5s ease, transform 0.5s ease;
}

.box h1 {
  background-color: #9999; 
  text-align: center;
  padding: 15px;
  color: #b96029;
  font-size: 1.5em; 
  font-weight: bold;
  margin: 0; 
  border: 1px solid #b96029; 
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}

.box .boxBody {
  padding: 20px !important;
  align-items: center; 
  align-items: space-evenly;
  background-color: #f9f9f9; 
  background-color: #f2f2f2;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}
