/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
 /* ===== Colors ===== */
 --primary-color: #b96029; /* Logo Color */
 --secondary-color: #f4a261; /* Light Orange */
 --tertiary-color: #2a9d8f; /* Teal */
 --background-color: #f0f4f8; /* Very Light Gray */
 --panel-color: #ffffff;   /* White */
 --text-color: #333333;    /* Dark Gray */
 --border-color: #e0e0e0;  /* Light Border Gray */
 --toggle-color: #b0b0b0;  /* Gray */
 --box1-color: #b96029;    /* Logo Color */
 --box2-color: #f4a261;    /* Light Orange */
 --box3-color: #2a9d8f;    /* Teal */
 --title-icon-color: #ffffff; /* White */

    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
}

/* Body Styles */
body {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
 --primary-color: #b96029; /* Logo Color */
    --secondary-color: #f4a261; /* Light Orange */
    --tertiary-color: #2a9d8f; /* Teal */
    --background-color: #333333; /* Dark Gray */
    --panel-color: #444444; /* Darker Gray */
    --text-color: #e0e0e0; /* Light Gray */
    --border-color: #666666; /* Medium Gray */
    --toggle-color: #b0b0b0;  /* Gray */
    --box1-color: #b96029;    /* Logo Color */
    --box2-color: #f4a261;    /* Light Orange */
    --box3-color: #2a9d8f;    /* Teal */
    --title-icon-color: #e0e0e0; /* Light Gray */
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--border-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2980b9;
}

body.dark::-webkit-scrollbar-thumb:hover {
    background: #3498db;
}

.active  {
    color: #b96029 !important;
}

/* Navigation Styles */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    padding: 20px;
    background-color: var(--panel-color);
    border-right: 2px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close {
    width: 80px;
    padding: 10px;
}

nav .logo-name {
    display: flex;
    align-items: center;
    background-color: #b96029;
    border: 1px solid #8a9499;
    border-radius: 10px;
}

nav .logo-image {
    display: flex;
    justify-content: center;
    min-width: 60px;
}

nav .logo-image img {
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name {
    font-size: 22px;
    font-weight: 500;
    color: white ;
    text-align: center;
    transition: var(--tran-05);
}

nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
}

nav .menu-items {
    margin-top: 30px;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li {
    list-style: none;
}

.menu-items li a {
    display: flex;
    align-items: center;
    height: 40px;
    text-decoration: none;
    position: relative;
    padding: 10px;
    border-radius: 8px;
    transition: var(--tran-03);
}

.menu-items li a:hover {
    background-color: var(--primary-color);
    color: #ffffff;
}

.menu-items li a i {
    font-size: 20px;
    min-width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
}

.menu-items li a .link-name {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 15px;
}

nav.close .link-name {
    opacity: 0;
    pointer-events: none;
}

nav.close .menu-items li a {
    justify-content: left;
}

.nav-links , .logout-mode{
    padding: 0;
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name {
    color: #ffffff;
}

body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
    color: #ecf0f1;
}

.menu-items .logout-mode {
    padding-top: 20px;
    border-top: 2px solid var(--border-color);
}

.menu-items .mode {
    display: flex;
    align-items: center;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 20px;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--toggle-color);
}

.switch:before {
    content: "";
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before {
    left: 22px;
}

/* Dashboard Styles */
.dashboard {
    position: relative;
    left: 260px;
    background-color: var(--background-color);
    min-height: 100vh;
    width: calc(100% - 260px);
    padding: 20px;
    transition: var(--tran-05);
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

nav.close ~ .dashboard {
    left: 80px;
    width: calc(100% - 80px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 260px;
    display: flex;
    width: calc(100% - 260px);
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: var(--panel-color);
    border-bottom: 2px solid var(--border-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close ~ .dashboard .top {
    left: 80px;
    width: calc(100% - 80px);
}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .search-box {
    position: relative;
    height: 40px;
    max-width: 600px;
    width: 100%;
    margin: 0 20px;
}

.top .search-box input {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: #ffffff;
    padding: 0 20px 0 50px;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    outline: none;
}

.top .search-box i {
    position: absolute;
    left: 10px;
    font-size: 20px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-color);
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content {
    padding-top: 70px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.dash-content .add {
    display: flex;
    align-items: center;
    width: 160px;
    margin: 20px 0 20px 40px;
}

.dash-content .title i {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.dash-content .link {
    width: 160px !important;
}

.dash-content .title .text {
    font-size: 26px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 15px;
}

.dash-content .add .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 15px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    width: calc(100% / 3 - 20px);
    padding: 20px;
    background-color: var(--panel-color);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: var(--tran-03);
}

.dash-content .boxes .box:hover {
    background-color: var(--primary-color);
    color: #ffffff;
    transform: scale(1.02);
}

.boxes .box i {
    font-size: 40px;
    color: var(--title-icon-color);
}

.boxes .box .text {
    font-size: 20px;
    font-weight: 600;
    color: var(--title-icon-color);
}

.boxes .box .number {
    font-size: 42px;
    font-weight: 600;
    color: var(--title-icon-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.dash-content .activity .activity-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.activity .activity-data {
    display: flex;
}

.activity-data .data {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.activity-data .data-title {
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
}

.activity-data .data .data-list {
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    white-space: nowrap;
    color: var(--text-color);
}

/* Media Queries */
@media (max-width: 1000px) {
    nav {
        width: 80px;
    }

    nav.close {
        width: 260px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 1;
        pointer-events: auto;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 1;
        pointer-events: auto;
    }

    nav ~ .dashboard {
        left: 80px;
        width: calc(100% - 80px);
    }

    nav.close ~ .dashboard {
        left: 260px;
        width: calc(100% - 260px);
    }

    nav ~ .dashboard .top {
        left: 80px;
        width: calc(100% - 80px);
    }

    nav.close ~ .dashboard .top {
        left: 260px;
        width: calc(100% - 260px);
    }

    .activity .activity-data {
        overflow-x: scroll;
    }
}

@media (max-width: 780px) {
    .dash-content .boxes .box {
        width: calc(100% / 2 - 20px);
        margin-top: 20px;
    }
}

@media (max-width: 560px) {
    .dash-content .boxes .box {
        width: 100%;
    }
}

@media (max-width: 400px) {
    nav {
        width: 0px;
    }

    nav.close {
        width: 80px;
    }

    nav .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name {
        opacity: 0;
        pointer-events: none;
    }

    nav li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name {
        opacity: 0;
        pointer-events: none;
    }

    nav ~ .dashboard {
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard {
        left: 80px;
        width: calc(100% - 80px);
    }

    nav ~ .dashboard .top {
        left: 0;
        width: 100%;
    }

    nav.close ~ .dashboard .top {
        left: 0;
        width: 100%;
    }
}
